.login-page{
    width: 480 px;
    padding: 5% 0 0;
    margin: auto;
}

.form{
    position: relative;
    z-index: 1;
    max-width: 480px;
    margin: 0 auto 100px;
    padding: 45px;
    text-align: center
}

.form input{
    font-family: "Roboto", sans-serif;
    outline: 1;
    background: #f2f2f2;
    width: 100%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
}

.form button{
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    outline: 0;
    background: #47423df6;
    width: 100%;
    border: 0;
    padding: 15px;
    color: #f2f2f2;
    font-size: 14px;
    cursor: pointer;
}

.form .message {
    margin: 15px 0 0;
    font-family: "Roboto", sans-serif;
    font-size: 12px; 
}

.form .message a{
    text-decoration: none;
}

.form .register-form {
    display: none;
}
