* {
  padding: 0;
  margin: 0;
}

#game {
  width: 350px;
  height: 520px;
  border: 1px solid black;
  background-color: black;
  margin: auto;
}

#car {
  width: 50px;
  height: 70px;
  background-color: cadetblue;
  position: relative;
  top: 400px;
  left: 100px;
}

#block {
  width: 50px;
  height: 70px;
  background-color: lavender;
  position: relative;
  top: 500px;
  animation: slideb 1s infinite linear;
}
@keyframes slideb {
  0% {
    top: -70px;
  }
  100% {
    top: 355px;
  }
}

#stripe {
  width: 10px;
  height: 60px;
  background-color: whitesmoke;
  position: relative;
  margin: auto;
  animation: slide1 0.3s infinite;
}
@keyframes slide1 {
  0% {
    top: -70px;
  }
  100% {
    top: 250px;
  }
}

#stripe2 {
  width: 10px;
  height: 60px;
  background-color: whitesmoke;
  position: relative;
  margin: auto;
  animation: slide2 1s infinite;
}
@keyframes slide2 {
  0% {
    top: -70px;
  }
  100% {
    top: 140px;
  }
}
